div {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #505050;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 1rem;
  color: #ffffff;
}

h3 {
  margin-top: 2rem;
  color: #ffffff;
}

p {
  margin: 0.5rem 0;
  color: #dfdfdf;
}

strong {
  color: #000000;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

button {
  margin-top: 1.5rem;
}

a:hover {
  text-decoration: underline;
}