section {
    margin: 2rem;
}

.underline-title {
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 5px;
}

.text-section {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}